<html>
<center>
    <h1>Le Moniteur {{ moniteur.nom }} {{ moniteur.prenom }} est occupé au date choisit.</h1>
    <h1>Veuillez choisir une autre date.</h1>
    <h2>Redirection en Cours ...</h2>
</center>
<meta http-equiv="refresh" content="6;url={{ path('rania_entrainement_reserver') }}" />
</html>